{% extends "org/base_org.html" %}
{% load bootstrap3 %}
{% block description %}
    <div class="col-md-offset-4" id="description">
        <h1>Szczegóły zgłoszenia</h1>
    </div>
{% endblock %}
{% block menu_buttons %}
                <a href="{% url 'org.views.awaiting' %}" class="btn btn-default" role="button">
                    <span class="glyphicon glyphicon-arrow-left"></span><br>Powrót</a>
{% endblock %}
{% block content %}
    {% for value in red %}
        <div class="row col-md-6 col-md-offset-3" style="margin-top:20px">
            <div class="col-md-1">{{ value.0 }}</div>
            <div class="pull-right" style="max-width: 300px">{{ value.1 }}</div>
        </div>
    {% endfor %}
{% endblock %}